<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEp19apz6tDNQiMR84XbONtJCZq0wvEqo</string>
	<key>GCM_SENDER_ID</key>
	<string>757975886517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.qawl</string>
	<key>PROJECT_ID</key>
	<string>qawl-io-8c4ff</string>
	<key>STORAGE_BUCKET</key>
	<string>qawl-io-8c4ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757975886517:ios:474cc9719bc0ba78e5ecfc</string>
</dict>
</plist>